@import '~bootstrap/scss/bootstrap';


#message {
  font-family: cursive;
  color: darkgreen;
  text-align: center;
}
#error-message {
  font-family: cursive;
  color: darkred;
  text-align: center;
}

#dogs-display {
  font-family: cursive;
  color: darkgreen;
  text-align: center;
}


#img {
  // border: 5px solid #ddd;
  // border-radius: 5%;
  // padding: 35px;
  // width: 370px;
  align: center;
  height: 400px;
  display: center;
  }

  #img-home {
    // border: 5px solid #ddd;
    // border-radius: 5%;
    // padding: 35px;
    align: center;
    height: 400px;
    display: center;
    }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background-image: linear-gradient(rgba(255,0,0,0),
  rgba(255, 255, 0, 0.5));
}

h1 {
  font-family: cursive;
  font-size: 72px;
  color: #737373;
  background: -webkit-linear-gradient(#ffff00, #330066);
  // -webkit-background-clip: text;
  // // -webkit-text-fill-color: transparent;
  text-align: center;
}

h2 {
  font-family: cursive;
  color: black;

}

.button{
  font-family: cursive;
  padding: 10px 10px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}
.button:hover {background-color: darkgreen}

.button:active {
  background-color: lightblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#sign-up {
  font-family: cursive;
  text-align: center;
}

#sign-in {
  font-family: cursive;
  text-align: center;
}

#change-password {
  font-family: cursive;
  text-align: right;
}

#sign-out {
  font-family: cursive;
  text-align: right;
}
.Signout:hover {background-color: lightblue}

.Signout:active {
  background-color: lightblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#dogs-create {
  font-family: cursive;
  text-align: center;
}

#dogs-update {
  font-family: cursive;
  text-align: center;
}

#dogs-index {
  font-family: cursive;
  text-align: center;
}

#dogs-destroy {
  font-family: cursive;
  text-align: center;
}

#prince {
  height: 556px;
  width: 700px;
}

.card-text{
  font-family: cursive;
  color: purple;
}

.card-title{
  font-family: cursive;
  color: purple;
}
